# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
dist-electron/

# Database (keep dev.db for production build)
*.db-journal
*.db-wal
*.db.backup
!dev.db

# Environment
.env
.env.local
.env.production
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Uploads
public/uploads/

# Electron
dist/dev.db*
tsconfig.tsbuildinfo
